<h1> All Products </h1>

<% @display_all.each do |display| %>
	<h2> <b>Product Name:</b> <%= display.name %> </h2>
	<img src = <%= display.image %> height = "400" width = "500">
	<ul>
		<li><b>Price: </b> <%= display.price %> </li>
		<li> <b>Description:</b><%= display.description %> </li>
	</ul>	
<% end %>