<h2> <b>Product Name:</b> <%= @product.name %></h2>
  <img src = <%= @product.image %> class = "custom">
  <ul>
    <li><b>Price: </b> <%= @product.price %> RWF </li>
    <li> <b>Description:</b><%= @product.description %> </li>
  </ul> 